.main__wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 958px;
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: 100% 100%; }
  .header__menu {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
    .header__menu__logo a {
      text-decoration: none;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 21px;
      font-weight: 700;
      line-height: 36px;
      color: #ffffff; }
      .header__menu__logo a b {
        color: #bf79fd; }
    .header__menu__nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 428px;
      list-style: none; }
      .header__menu__nav ul li a {
        color: #ffffff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase; }
    .header__menu__phone span {
      color: #ffffff;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .header__content {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    max-width: 778px;
    width: 100%;
    height: 380px; }
    .header__content h3 {
      text-align: center;
      font-weight: 400;
      color: #ca8efe;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase; }
    .header__content h1 {
      text-align: center;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 61px; }
    .header__content p {
      text-align: center;
      color: #d4c5e1;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      line-height: 30px; }
    .header__content button {
      position: relative;
      left: 50%;
      margin-left: -105px;
      width: 210px;
      height: 52px;
      border-radius: 26px;
      background-color: #925ebf;
      border: none;
      color: #ffffff;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px; }
  .header__bottom {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 25px;
    width: 242px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .header__bottom h4 {
      text-align: center;
      opacity: 0.4;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px; }
    .header__bottom__button {
      cursor: pointer; }
