@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,500");
@font-face {
  font-family: Proxima Nova;
  src: url("../font/Proxima Nova.ttf"); }

.main__wrapper {
  max-width: 1975px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: center;
  position: relative; }
  .header__wrapper {
    position: relative;
    min-height: 953px;
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover; }
    .header__wrapper--pageDown {
      position: absolute;
      bottom: -28px;
      left: 50%;
      transform: translate(-50%);
      background: url(../img/header-bttom-arrow.png);
      cursor: pointer;
      height: 57px;
      width: 57px;
      border: none;
      outline: none;
      border-radius: 50%; }
  .header__menu {
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 10px;
    height: 72px; }
    .header__menu__logo {
      cursor: pointer;
      font-size: 21px;
      line-height: 36px;
      font-weight: normal;
      font-family: "Proxima Nova",  sans-serif; }
      .header__menu__logo b {
        color: #bf79fd; }
    .header__menu__nav ul {
      padding: 0;
      display: flex;
      max-width: 430px;
      justify-content: space-between;
      list-style-type: none;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      font-family: Ubuntu,  sans-serif; }
      .header__menu__nav ul li a {
        padding: 15px 25px;
        text-decoration: none;
        color: #ffffff;
        white-space: nowrap; }
        .header__menu__nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 10px; }
    .header__menu__phone {
      font-size: 16px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 16px;
      cursor: pointer; }
    .header__menu__btn {
      position: relative;
      height: 40px;
      width: 40px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      display: none; }
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__content h1 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #ca8efe;
      text-transform: uppercase; }
    .header__content h2 {
      margin: 0;
      font-size: 60px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 61px;
      color: #ffffff; }
    .header__content p {
      margin: 40px auto;
      width: 775px;
      font-size: 18px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #757983; }
    .header__content button {
      width: 207px;
      height: 52px;
      background-color: #925ebf;
      border: none;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 30px;
      color: #ffffff;
      cursor: pointer; }
    .header__content h3 {
      margin: 220px 0 0 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 32px;
      color: #7e8188; }

.whyWee {
  width: 100%;
  background-color: #f6f6f6; }
  .whyWee__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 130px; }
  .whyWee__header {
    text-align: center;
    max-width: 776px;
    margin: 0 auto; }
    .whyWee__header h2 {
      margin: 0;
      color: #925ebf;
      font-family: Roboto,  sans-serif;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 34px; }
    .whyWee__header h3 {
      margin: 0;
      color: #26272d;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 61px;
      letter-spacing: -2.4px; }
    .whyWee__header p {
      margin: 45px 0;
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 19px; }
  .whyWee__content {
    margin-top: 75px; }
    .whyWee__content__allBlocks {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      .whyWee__content__allBlocks__block {
        padding: 37px 5px 37px 5px;
        text-align: center;
        width: 315px;
        height: auto;
        margin: 5px; }
        .whyWee__content__allBlocks__block h3 {
          color: #26272d;
          font-family: Roboto,  sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
          text-transform: uppercase; }
        .whyWee__content__allBlocks__block p {
          color: #7b7b7b;
          font-family: Ubuntu,  sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 28px; }

.ourCompany {
  background-color: #ffffff; }
  .ourCompany__wrapper {
    padding: 120px 0 110px 0;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #ffffff; }
  .ourCompany__header {
    text-align: center;
    max-width: 776px;
    margin: 0 auto; }
    .ourCompany__header h3 {
      margin: 0;
      color: #26272d;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: -2.4px;
      line-height: 50px; }
    .ourCompany__header p {
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 45px 0; }
  .ourCompany__content {
    display: flex;
    flex-direction: column; }
    .ourCompany__content__side {
      display: flex;
      align-items: center;
      justify-content: center; }
      .ourCompany__content__side__up {
        width: 50%; }
        .ourCompany__content__side__up__title {
          text-align: right;
          display: flex;
          justify-content: flex-end; }
          .ourCompany__content__side__up__title h4 {
            margin: 0;
            color: #000000;
            font-family: Roboto,  sans-serif;
            font-size: 28px;
            font-weight: normal;
            line-height: 38px; }
          .ourCompany__content__side__up__title img {
            margin-left: 22px;
            width: 74px;
            height: 76px; }
        .ourCompany__content__side__up__paragraph {
          margin: 30px 0; }
          .ourCompany__content__side__up__paragraph p {
            text-align: right;
            margin: 0;
            color: #8c8f94;
            font-family: Ubuntu,  sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 20px; }
      .ourCompany__content__side__contactButton {
        display: flex;
        justify-content: flex-end; }
        .ourCompany__content__side__contactButton a {
          text-align: center;
          width: 195px;
          height: 45px;
          border: 2px solid #925ebf;
          border-radius: 25px;
          color: #000000;
          font-family: Ubuntu,  sans-serif;
          font-size: 16px;
          font-weight: normal;
          line-height: 45px;
          text-decoration: none; }
          .ourCompany__content__side__contactButton a:hover {
            background-color: rgba(146, 94, 191, 0.9);
            transition: 0.3s;
            color: #ffffff; }
      .ourCompany__content__side__down {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 50px 0; }

.side2 .ourCompany__content__side__up__title {
  justify-content: flex-start;
  text-align: left; }

.side2 .ourCompany__content__side__up__paragraph p {
  text-align: left; }

.side2 .ourCompany__content__side__contactButton {
  justify-content: flex-start; }

@media (max-width: 970px) {
  /*header menu*/
  .header__wrapper {
    min-height: 600px; }
  .header__menu__logo {
    font-size: 40px; }
  .header__menu__phone {
    display: none; }
  .header__menu__btn {
    display: block;
    cursor: pointer; }
  .header__menu__nav ul {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 50%;
    min-width: 100%;
    flex-direction: column;
    transform: translate(-50%); }
  .header__menu__nav ul li {
    width: 100%;
    background-color: #0D1021;
    border-top: 1px solid #925EBF; }
    .header__menu__nav ul li:last-child {
      border-bottom: 1px solid #925EBF; }
  .header__menu__nav ul li a {
    display: block;
    padding: 30px 25px; }
  .header__menu__nav ul li a:hover {
    border-radius: 0;
    background-color: rgba(146, 94, 191, 0.2);
    transition: 0.3s; }
  /*header content*/
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); }
  .header__content h2 {
    font-size: 20px;
    line-height: 30px; }
  .header__content p {
    width: 100%;
    font-size: 15px;
    margin: 14px auto; }
  .header__content h3 {
    margin: 50px 0 0 0; }
  /*Why we*/
  .whyWee__header h2 {
    font-size: 35px;
    line-height: 36px; }
  .whyWee__content__allBlocks {
    justify-content: center; }
  .whyWee__content__allBlocks__block {
    margin: 5px; }
  /*ourCompany*/
  .ourCompany__content__side {
    flex-direction: column;
    align-items: center; }
  .ourCompany__content__side__up__paragraph p {
    text-align: center; }
  .ourCompany__content__side__contactButton {
    justify-content: center; }
  .side2 .ourCompany__content__side__up__paragraph p {
    text-align: center; }
  .side2 {
    flex-direction: column-reverse; }
  .side2 .ourCompany__content__side__contactButton {
    justify-content: center; }
  .side2 .ourCompany__content__side__up__title, .ourCompany__content__side__up__title {
    text-align: center; }
  .ourCompany__content__side__up__title {
    justify-content: center; }
  .ourCompany__header h3 {
    font-size: 40px;
    line-height: 0px; }
  .ourCompany__content__side__up__title h4 {
    line-height: 30px; }
  .ourCompany__header p {
    margin: 30px 0; }
  .ourCompany__content__side__up {
    width: 100%; }
  .ourCompany__content__side__down {
    display: block; }
  .ourCompany__content__side__down img {
    width: 100%;
    height: auto;
    margin: 0 auto; } }

.sandwich {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  top: 13px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 100%;
  height: 5px;
  top: 25px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 18px;
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 12px;
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }
