@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,500");
@font-face {
  font-family: Proxima Nova;
  src: url("../font/Proxima Nova.ttf"); }

.main__wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: center;
  position: relative; }
  .header__wrapper {
    position: relative;
    min-height: 953px;
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover; }
    .header__wrapper--pageDown {
      position: absolute;
      bottom: -33px;
      left: 50%;
      transform: translate(-50%);
      background: url(../img/header-bttom-arrow.png);
      cursor: pointer;
      height: 57px;
      width: 57px;
      border: none;
      outline: none;
      border-radius: 50%; }
  .header__menu {
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 10px;
    height: 72px; }
    .header__menu__logo {
      cursor: pointer;
      font-size: 21px;
      line-height: 36px;
      font-weight: normal;
      font-family: "Proxima Nova",  sans-serif; }
      .header__menu__logo b {
        color: #bf79fd; }
    .header__menu__nav ul {
      padding: 0;
      display: flex;
      max-width: 430px;
      justify-content: space-between;
      list-style-type: none;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      font-family: Ubuntu,  sans-serif; }
      .header__menu__nav ul li a {
        padding: 15px 25px;
        text-decoration: none;
        color: #ffffff;
        white-space: nowrap; }
        .header__menu__nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 10px; }
    .header__menu__phone {
      font-size: 16px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 16px;
      cursor: pointer; }
    .header__menu__btn {
      position: relative;
      height: 40px;
      width: 40px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      display: none; }
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__content h1 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #ca8efe;
      text-transform: uppercase; }
    .header__content h2 {
      margin: 0;
      font-size: 60px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 61px;
      color: #ffffff; }
    .header__content p {
      margin: 40px auto;
      width: 775px;
      font-size: 18px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #757983; }
    .header__content button {
      width: 207px;
      height: 52px;
      background-color: #925ebf;
      border: none;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 30px;
      color: #ffffff;
      cursor: pointer; }
    .header__content h3 {
      margin: 220px 0 0 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 32px;
      color: #7e8188; }

.content {
  width: 100%;
  padding-top: 50px;
  background-color: #ffffff; }
  .content__title {
    margin: 0 auto;
    max-width: 776px;
    width: 100%; }
    .content__title h2 {
      text-align: center;
      font-weight: 400;
      color: #26272d;
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 50px; }
    .content__title p {
      text-align: center;
      color: #7b7b7b;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      line-height: 30px; }
  .content__wrapper {
    display: flex;
    width: 100%; }
    .content__wrapper__left {
      width: 50%; }
      .content__wrapper__left__title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 290px; }
        .content__wrapper__left__title__line1 {
          margin-top: 10px;
          display: flex;
          align-items: center; }
          .content__wrapper__left__title__line1 h3 {
            margin: 0;
            color: #000000;
            font-family: 'Roboto', sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            max-width: 257px;
            text-align: right; }
          .content__wrapper__left__title__line1 img {
            width: 74px;
            height: 74px;
            margin-left: 10px; }
        .content__wrapper__left__title__line2 {
          max-width: 503px;
          color: #8c8f94;
          font-family: 'Ubuntu', sans-serif;
          font-size: 15px;
          font-weight: 400; }
          .content__wrapper__left__title__line2 p {
            text-align: right;
            line-height: 23px; }
        .content__wrapper__left__title__line3 button {
          width: 198px;
          height: 48px;
          border-radius: 24px;
          border: 2px solid #925ebf;
          background-color: rgba(146, 94, 191, 0);
          color: #000000;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
          font-weight: 400;
          margin-right: 20px; }
      .content__wrapper__left__img {
        margin-top: 119px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .content__wrapper__left__img img {
          width: 450px;
          height: 321px; }
    .content__wrapper__right {
      width: 50%; }
      .content__wrapper__right__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .content__wrapper__right__img img {
          width: 357px;
          height: 353px; }
      .content__wrapper__right__title__line1 {
        display: flex; }
        .content__wrapper__right__title__line1 img {
          margin-right: 10px; }
        .content__wrapper__right__title__line1 h3 {
          margin: 0;
          color: #000000;
          font-family: 'Roboto', sans-serif;
          font-size: 28px;
          font-weight: 400;
          line-height: 38px;
          max-width: 257px;
          text-align: left; }
      .content__wrapper__right__title__line2 {
        max-width: 503px;
        color: #8c8f94;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: 400; }
        .content__wrapper__right__title__line2 p {
          text-align: left;
          line-height: 23px; }
      .content__wrapper__right__title__line3 button {
        width: 198px;
        height: 48px;
        border-radius: 24px;
        border: 2px solid #925ebf;
        background-color: rgba(146, 94, 191, 0);
        color: #000000;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px; }

@media (max-width: 768px) {
  .content__wrapper__left {
    width: 100%; }
  .content__wrapper__right {
    width: 100%; }
  .content__wrapper__right {
    display: flex;
    flex-direction: column-reverse; }
  .content__wrapper {
    flex-direction: column;
    align-items: center; }
  #title {
    height: 500px; }
  #title {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .content__wrapper__right__title__line1 img {
    width: 74px;
    height: 74px; }
  .content__wrapper__right__title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .content__wrapper__left__img img {
    width: 319px;
    height: 100%; }
  .content__wrapper__right__img img {
    width: 319px;
    height: 100%;
    margin-top: 50px; } }

@media (max-width: 970px) {
  /*header menu*/
  .header__wrapper {
    min-height: 600px; }
  .header__menu__logo {
    font-size: 40px; }
  .header__menu__phone {
    display: none; }
  .header__menu__btn {
    display: block; }
  .header__menu__nav ul {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 50%;
    min-width: 100%;
    flex-direction: column;
    transform: translate(-50%); }
  .header__menu__nav ul li {
    width: 100%;
    background-color: #0D1021;
    border-top: 1px solid #925EBF; }
    .header__menu__nav ul li:last-child {
      border-bottom: 1px solid #925EBF; }
  .header__menu__nav ul li a {
    display: block;
    padding: 30px 25px; }
  .header__menu__nav ul li a:hover {
    border-radius: 0;
    background-color: rgba(146, 94, 191, 0.2);
    transition: 0.3s; }
  /*header content*/
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); }
  .header__content h2 {
    font-size: 20px;
    line-height: 30px; }
  .header__content p {
    width: 100%;
    font-size: 15px;
    margin: 14px auto; }
  .header__content h3 {
    margin: 50px 0 0 0; } }

.sandwich {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer; }

.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  top: 13px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 100%;
  height: 5px;
  top: 25px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 18px;
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 12px;
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }
