@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,500");
@font-face {
  font-family: Proxima Nova;
  src: url("../font/Proxima Nova.ttf"); }

.main__wrapper {
  max-width: 1975px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: center;
  position: relative; }
  .header__wrapper {
    position: relative;
    min-height: 953px;
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover; }
    .header__wrapper--pageDown {
      position: absolute;
      bottom: -28px;
      left: 50%;
      transform: translate(-50%);
      background: url(../img/header-bttom-arrow.png);
      cursor: pointer;
      height: 57px;
      width: 57px;
      border: none;
      outline: none;
      border-radius: 50%; }
  .header__menu {
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 10px;
    height: 72px; }
    .header__menu__logo {
      cursor: pointer;
      font-size: 21px;
      line-height: 36px;
      font-weight: normal;
      font-family: "Proxima Nova",  sans-serif; }
      .header__menu__logo b {
        color: #bf79fd; }
    .header__menu__nav ul {
      padding: 0;
      display: flex;
      max-width: 430px;
      justify-content: space-between;
      list-style-type: none;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      font-family: Ubuntu,  sans-serif; }
      .header__menu__nav ul li a {
        padding: 15px 25px;
        text-decoration: none;
        color: #ffffff;
        white-space: nowrap; }
        .header__menu__nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 10px; }
    .header__menu__phone {
      font-size: 16px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 16px;
      cursor: pointer; }
    .header__menu__btn {
      position: relative;
      height: 40px;
      width: 40px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      display: none; }
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__content h1 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #ca8efe;
      text-transform: uppercase; }
    .header__content h2 {
      margin: 0;
      font-size: 60px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 61px;
      color: #ffffff; }
    .header__content p {
      margin: 40px auto;
      width: 775px;
      font-size: 18px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #757983; }
    .header__content button {
      width: 207px;
      height: 52px;
      background-color: #925ebf;
      border: none;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 30px;
      color: #ffffff;
      cursor: pointer; }
    .header__content h3 {
      margin: 220px 0 0 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 32px;
      color: #7e8188; }

.whyWee {
  width: 100%;
  background-color: #f6f6f6; }
  .whyWee__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 130px; }
  .whyWee__header {
    text-align: center;
    max-width: 776px;
    margin: 0 auto; }
    .whyWee__header h2 {
      margin: 0;
      color: #925ebf;
      font-family: Roboto,  sans-serif;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 34px; }
    .whyWee__header h3 {
      margin: 0;
      color: #26272d;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 61px;
      letter-spacing: -2.4px; }
    .whyWee__header p {
      margin: 45px 0;
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 19px; }
  .whyWee__content {
    margin-top: 75px; }
    .whyWee__content__allBlocks {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      .whyWee__content__allBlocks__block {
        padding: 37px 5px 37px 5px;
        text-align: center;
        width: 315px;
        height: auto;
        margin: 5px; }
        .whyWee__content__allBlocks__block h3 {
          color: #26272d;
          font-family: Roboto,  sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
          text-transform: uppercase; }
        .whyWee__content__allBlocks__block p {
          color: #7b7b7b;
          font-family: Ubuntu,  sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 28px; }

.ourCompany {
  background-color: #ffffff; }
  .ourCompany__wrapper {
    padding: 120px 0 110px 0;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #ffffff; }
  .ourCompany__header {
    text-align: center;
    max-width: 776px;
    margin: 0 auto; }
    .ourCompany__header h3 {
      margin: 0;
      color: #26272d;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: -2.4px;
      line-height: 50px; }
    .ourCompany__header p {
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 45px 0; }
  .ourCompany__content {
    display: flex;
    flex-direction: column; }
    .ourCompany__content__side {
      display: flex;
      align-items: center;
      justify-content: center; }
      .ourCompany__content__side__up {
        width: 50%; }
        .ourCompany__content__side__up__title {
          text-align: right;
          display: flex;
          justify-content: flex-end; }
          .ourCompany__content__side__up__title h4 {
            margin: 0;
            color: #000000;
            font-family: Roboto,  sans-serif;
            font-size: 28px;
            font-weight: normal;
            line-height: 38px; }
          .ourCompany__content__side__up__title img {
            margin-left: 22px;
            width: 74px;
            height: 76px; }
        .ourCompany__content__side__up__paragraph {
          margin: 30px 0; }
          .ourCompany__content__side__up__paragraph p {
            text-align: right;
            margin: 0;
            color: #8c8f94;
            font-family: Ubuntu,  sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 20px; }
      .ourCompany__content__side__contactButton {
        display: flex;
        justify-content: flex-end; }
        .ourCompany__content__side__contactButton a {
          text-align: center;
          width: 195px;
          height: 45px;
          border: 2px solid #925ebf;
          border-radius: 25px;
          color: #000000;
          font-family: Ubuntu,  sans-serif;
          font-size: 16px;
          font-weight: normal;
          line-height: 45px;
          text-decoration: none; }
          .ourCompany__content__side__contactButton a:hover {
            background-color: rgba(146, 94, 191, 0.9);
            transition: 0.3s;
            color: #ffffff; }
      .ourCompany__content__side__down {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 50px 0; }

.side2 .ourCompany__content__side__up__title {
  justify-content: flex-start;
  text-align: left; }

.side2 .ourCompany__content__side__up__paragraph p {
  text-align: left; }

.side2 .ourCompany__content__side__contactButton {
  justify-content: flex-start; }

.shops {
  background-color: #f6f6f6; }
  .shops__wrapper {
    padding: 110px 0 110px 0;
    max-width: 1345px;
    margin: 0 auto;
    background-color: #f6f6f6; }
  .shops__header {
    text-align: center; }
    .shops__header h3 {
      margin: 0;
      color: #000000;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: -2.4px;
      line-height: 50px; }
    .shops__header p {
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 45px 0;
      max-width: 772px;
      margin: 40px auto; }
  .shops__content .slick-prev:before, .shops__content .slick-next:before {
    font-size: 40px;
    width: 23px;
    height: 41px;
    color: #26272d; }
  .shops__content .slick-next {
    right: -5px; }
  .shops__content__slider {
    position: relative;
    padding: 0 25px;
    width: 70%;
    margin: 0 auto; }
    .shops__content__slider__slide {
      max-width: 280px;
      text-align: center;
      background-color: #ffffff;
      margin: 0 10px; }
      .shops__content__slider__slide__up img {
        width: 100%; }
      .shops__content__slider__slide__down {
        padding: 0 15px 25px 15px; }
        .shops__content__slider__slide__down h3 {
          margin: 30px 0;
          color: #000000;
          font-family: Ubuntu,  sans-serif;
          font-size: 20px;
          font-weight: normal;
          line-height: 27px; }
        .shops__content__slider__slide__down p {
          color: #7c7c7c;
          font-family: Ubuntu,  sans-serif;
          font-size: 14px;
          font-weight: normal;
          line-height: 16px; }
        .shops__content__slider__slide__down a {
          margin: 0 auto;
          display: block;
          text-align: center;
          max-width: 155px;
          height: 48px;
          border: 2px solid #925ebf;
          border-radius: 25px;
          color: #000000;
          font-family: Ubuntu,  sans-serif;
          font-size: 16px;
          font-weight: normal;
          line-height: 48px;
          text-decoration: none; }
          .shops__content__slider__slide__down a:hover {
            background-color: rgba(146, 94, 191, 0.9);
            transition: 0.3s;
            color: #ffffff; }

.assortment {
  width: 100%;
  background-image: url(../img/assortmentBG.jpg); }
  .assortment__wrapper {
    padding: 120px 15px;
    max-width: 777px;
    text-align: center;
    margin: 0 auto; }
  .assortment__content h2 {
    color: #ca8efe;
    font-family: Ubuntu,  sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 72px;
    margin: 0; }
  .assortment__content h3 {
    color: #ffffff;
    font-family: Roboto,  sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 61px;
    margin: 0; }
  .assortment__content p {
    color: #ffffff;
    font-family: Ubuntu,  sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin: 0; }
  .assortment__content a {
    display: block;
    margin: 35px auto;
    color: #ffffff;
    font-family: Ubuntu,  sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 52px;
    max-width: 210px;
    height: 52px;
    border: 2px solid #925ebf;
    border-radius: 25px;
    text-decoration: none;
    background-color: #925ebf; }

.foods {
  background-color: #ffffff; }
  .foods__wrapper {
    padding: 110px 0 160px 0;
    max-width: 1200px;
    margin: 0 auto; }
  .foods__header {
    text-align: center; }
    .foods__header h3 {
      color: #26272d;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: normal;
      line-height: 50px;
      margin: 0; }
    .foods__header p {
      margin: 27px auto;
      max-width: 780px;
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 35px; }
  .foods__menu {
    position: relative;
    max-width: 792px;
    margin: 0 auto;
    margin-top: 33px; }
    .foods__menu ul {
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style-type: none; }
      .foods__menu ul li {
        cursor: pointer;
        position: relative;
        width: 180px;
        height: 48px;
        border: 1px solid #925ebf;
        border-radius: 25px;
        text-align: center;
        line-height: 49px;
        color: #26272d;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal; }
        .foods__menu ul li:hover::after {
          content: '';
          position: absolute;
          bottom: -21px;
          left: 50%;
          transform: translate(-50%);
          border: 10px solid transparent;
          border-top: 10px solid #925ebf; }
        .foods__menu ul li:hover {
          background-color: #925ebf;
          color: #ffffff; }
    .foods__menu__btn {
      position: absolute;
      height: 40px;
      width: 40px;
      padding: 0;
      background-color: black;
      border: none;
      outline: none;
      top: 6px;
      right: 10px;
      display: none; }
  .foods__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .foods__item {
    margin: 6px;
    color: black;
    width: 280px;
    border: 1px solid #dedede;
    height: 397px; }
    .foods__item__up {
      width: 100%;
      height: auto; }
      .foods__item__up img {
        width: 100%; }
    .foods__item__down {
      padding: 0 5px 20px 5px;
      text-align: center; }
      .foods__item__down h4 {
        color: #925ebf;
        font-family: Ubuntu,  sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 21px;
        margin: 30px 0 0 0; }
      .foods__item__down h5 {
        color: #000000;
        font-family: Ubuntu,  sans-serif;
        font-size: 21px;
        font-weight: normal;
        line-height: 36px;
        margin: 20px 0 0 0; }
  .foods__slider {
    width: 100%;
    max-width: 888px; }
    .foods__slider .slick-next {
      right: 10px;
      z-index: 2; }
    .foods__slider .slick-prev {
      left: 10px;
      z-index: 1; }
    .foods__slider__slide {
      margin: 5px;
      width: 100%;
      max-height: 397px; }
      .foods__slider__slide img {
        width: 100%; }

.plan {
  background-color: #f4f4f5; }
  .plan__wrapper {
    padding: 110px 0 110px 0;
    max-width: 1170px;
    margin: 0 auto; }
  .plan__header {
    text-align: center; }
    .plan__header h3 {
      margin: 0;
      color: #000000;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: -2.4px;
      line-height: 50px; }
    .plan__header p {
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 45px 0;
      max-width: 772px;
      margin: 40px auto; }
  .plan__content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .plan__content__item {
      margin: 5px;
      padding: 0 5px;
      min-height: 506px;
      background-color: #ffffff; }
      .plan__content__item h3 {
        padding-top: 60px;
        margin: 0;
        color: #925ebf;
        font-family: Ubuntu,  sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px; }
      .plan__content__item h4 {
        font-family: Ubuntu,  sans-serif;
        color: #000000;
        font-size: 60px;
        font-weight: bold;
        margin: 0;
        line-height: 34px; }
        .plan__content__item h4 b {
          vertical-align: text-top;
          font-size: 28px;
          font-weight: bold;
          line-height: 49px; }
      .plan__content__item h5 {
        font-family: Ubuntu,  sans-serif;
        color: #999999;
        font-size: 16px;
        font-weight: 500;
        line-height: 62px;
        margin: 0; }
      .plan__content__item p {
        font-family: Ubuntu,  sans-serif;
        color: #000000;
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
        margin: 0; }
      .plan__content__item a {
        font-family: Ubuntu,  sans-serif;
        display: block;
        width: 233px;
        height: 50px;
        background-color: #925ebf;
        color: #ffffff;
        border-radius: 25px;
        margin: 0 auto;
        text-decoration: none;
        line-height: 47px;
        font-size: 18px;
        font-weight: 500;
        margin-top: 37px; }

.people {
  padding: 77px 0; }
  .people__wrapper {
    max-width: 1080px;
    margin: 0 auto; }
  .people__slider {
    width: 100%;
    max-width: 888px;
    margin: 0 auto; }
    .people__slider .slick-prev:before, .people__slider .slick-next:before {
      color: #4e1111;
      content: ""; }
    .people__slider .slick-prev {
      left: 10px;
      z-index: 1; }
    .people__slider .slick-next {
      right: 10px;
      z-index: 2; }
  .people__img {
    position: relative;
    width: 130px;
    margin: 0 auto; }
    .people__img::before {
      content: "";
      position: absolute;
      left: -130px;
      top: 20px;
      background-image: url(../img/face_before.png);
      width: 81px;
      height: 81px; }
    .people__img::after {
      content: "";
      position: absolute;
      left: 177px;
      top: 20px;
      background-image: url(../img/face_after.png);
      width: 81px;
      height: 81px; }
    .people__img img {
      width: 100%; }
  .people__description {
    text-align: center; }
    .people__description h3 {
      color: #000000;
      font-family: Ubuntu,  sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 22px; }
    .people__description p {
      color: #7b7b7b;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
      max-width: 520px;
      margin: 10px auto; }
    .people__description__stars {
      width: 145px;
      height: 42px;
      border: 2px solid #f4f4f5;
      border-radius: 25px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      /* Hide the browser's default checkbox */
      /* Create a custom checkbox */
      /* On mouse-over, add a grey background color */
      /* When the checkbox is checked, add a blue background */
      /* Create the checkmark/indicator (hidden when not checked) */
      /* Show the checkmark when checked */
      /* Style the checkmark/indicator */
      /*.container .checkmark:after {
			  left: 9px;
			  top: 5px;
			  width: 5px;
			  height: 10px;
			  border: solid white;
			  border-width: 0 3px 3px 0;
			  -webkit-transform: rotate(45deg);
			  -ms-transform: rotate(45deg);
			  transform: rotate(45deg);
			}*/ }
      .people__description__stars .container {
        display: block;
        position: relative;
        width: 30px;
        height: 25px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
      .people__description__stars .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer; }
      .people__description__stars .checkmark {
        position: absolute;
        top: 5px;
        left: 6px;
        height: 14px;
        width: 15px;
        background-image: url(../img/star.png); }
      .people__description__stars .container:hover input ~ .checkmark {
        background-image: url(../img/star-hover.png); }
      .people__description__stars .container input:checked ~ .checkmark {
        background-image: url(../img/star-hover.png); }
      .people__description__stars .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
      .people__description__stars .container input:checked ~ .checkmark:after {
        display: block; }

.galery {
  background-color: #363d4b;
  padding: 100px 0 90px 0; }
  .galery__wrapper {
    max-width: 1200px;
    margin: 0 auto; }
  .galery__header {
    text-align: center; }
    .galery__header h3 {
      margin: 0;
      color: #ffffff;
      font-family: Roboto,  sans-serif;
      font-size: 60px;
      font-weight: normal;
      line-height: 50px; }
    .galery__header p {
      margin: 0 auto;
      color: #b7c6e3;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 55px;
      max-width: 777px;
      padding: 0 10px; }
  .galery__contentSlider .slick-dots li button:before {
    color: #4e576a;
    font-size: 21px; }
  .galery__contentSlider .slick-dots li.slick-active button:before {
    color: #b7c6e3; }
  .galery__contentSlider__slide__foto {
    display: flex;
    justify-content: space-between; }
  .galery__contentSlider__slide__img {
    max-width: 387px;
    max-height: 297px;
    margin: 8px; }
    .galery__contentSlider__slide__img img {
      width: 100%; }

/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome-all.min.css");*/
.contacts {
  display: flex; }
  .contacts__map {
    width: 50%;
    min-height: 450px; }
    .contacts__map iframe {
      width: 100%;
      height: 100%;
      border: 0; }
  .contacts__contactData {
    padding: 80px 0;
    width: 50%; }
    .contacts__contactData__title {
      text-align: left;
      padding-left: 10%; }
      .contacts__contactData__title h3 {
        margin: 0;
        color: #000000;
        font-family: Roboto,  sans-serif;
        font-size: 60px;
        font-weight: normal;
        line-height: 50px; }
    .contacts__contactData__content {
      padding-left: 10%; }
      .contacts__contactData__content table {
        margin-top: 50px; }
        .contacts__contactData__content table tr .item {
          color: #000000;
          font-family: Ubuntu,  sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 50px; }
        .contacts__contactData__content table tr .item-des {
          color: #7b7b7b;
          font-family: Ubuntu,  sans-serif;
          font-size: 18px;
          font-weight: normal;
          line-height: 50px; }
        .contacts__contactData__content table tr td svg {
          margin-right: 10px; }

.contactForm {
  background-color: #f4f4f5;
  padding: 110px 0; }
  .contactForm__wrapper {
    text-align: center;
    max-width: 777px;
    margin: 0 auto; }
  .contactForm__header h3 {
    color: #26272d;
    font-family: Roboto,  sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
    margin: 0; }
  .contactForm__header p {
    color: #7b7b7b;
    font-family: Ubuntu,  sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    margin: 0; }
  .contactForm__content__form {
    max-width: 708px;
    margin: 0 auto; }
  .contactForm__content__name-email {
    width: 100%;
    max-width: 708px;
    display: flex;
    justify-content: space-between; }
    .contactForm__content__name-email input {
      width: 345px;
      height: 50px;
      border: 1px solid #dedede; }
      .contactForm__content__name-email input::-webkit-input-placeholder {
        color: #999999;
        padding-left: 18px;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px; }
      .contactForm__content__name-email input:-moz-placeholder {
        color: #999999;
        padding-left: 18px;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px; }
      .contactForm__content__name-email input::-moz-placeholder {
        color: #999999;
        padding-left: 18px;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px; }
      .contactForm__content__name-email input:-ms-input-placeholder {
        color: #999999;
        padding-left: 18px;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px; }
  .contactForm__content__textarea textarea {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    min-height: 140px;
    border: 1px solid #dedede; }
    .contactForm__content__textarea textarea::-webkit-input-placeholder {
      color: #999999;
      padding: 18px 0 0 18px;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
    .contactForm__content__textarea textarea:-moz-placeholder {
      color: #999999;
      padding: 18px 0 0 18px;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
    .contactForm__content__textarea textarea::-moz-placeholder {
      color: #999999;
      padding: 18px 0 0 18px;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
    .contactForm__content__textarea textarea:-ms-input-placeholder {
      color: #999999;
      padding: 18px 0 0 18px;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
  .contactForm__content__bt {
    margin-top: 20px; }
    .contactForm__content__bt input {
      cursor: pointer;
      width: 225px;
      height: 50px;
      background-color: #925EBF;
      border: 1px solid #dedede;
      border-radius: 25px;
      color: #ffffff;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 500; }
    .contactForm__content__bt p {
      color: #7c7c7c;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px; }

.footer {
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center; }
  .footer__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer__title {
    display: block;
    color: #7c7c7c;
    font-family: Ubuntu,  sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px; }
  .footer__social {
    max-width: 230px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #7c7c7c;
    font-family: Ubuntu,  sans-serif;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px; }
    .footer__social svg {
      color: #925ebf; }

@media (max-width: 1120px) {
  .foods__menu ul {
    flex-direction: column;
    width: auto;
    align-items: center; }
  .foods__menu ul li {
    width: 90%;
    margin: 5px 0; }
  .foods__menu ul li:hover::after {
    border-top: none; }
  .foods__items {
    justify-content: center; } }

@media (max-width: 970px) {
  /*header menu*/
  .header__wrapper {
    min-height: 600px; }
  .header__menu__logo {
    font-size: 40px; }
  .header__menu__phone {
    display: none; }
  .header__menu__btn {
    display: block;
    cursor: pointer; }
  .header__menu__nav ul {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 50%;
    min-width: 100%;
    flex-direction: column;
    transform: translate(-50%); }
  .header__menu__nav ul li {
    width: 100%;
    background-color: #0D1021;
    border-top: 1px solid #925EBF; }
    .header__menu__nav ul li:last-child {
      border-bottom: 1px solid #925EBF; }
  .header__menu__nav ul li a {
    display: block;
    padding: 30px 25px; }
  .header__menu__nav ul li a:hover {
    border-radius: 0;
    background-color: rgba(146, 94, 191, 0.2);
    transition: 0.3s; }
  /*header content*/
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); }
  .header__content h2 {
    font-size: 20px;
    line-height: 30px; }
  .header__content p {
    width: 100%;
    font-size: 15px;
    margin: 14px auto; }
  .header__content h3 {
    margin: 50px 0 0 0; }
  /*Why we*/
  .whyWee__header h2 {
    font-size: 35px;
    line-height: 36px; }
  .whyWee__content__allBlocks {
    justify-content: center; }
  .whyWee__content__allBlocks__block {
    margin: 5px; }
  /*ourCompany*/
  .ourCompany__content__side {
    flex-direction: column;
    align-items: center; }
  .ourCompany__content__side__up__paragraph p {
    text-align: center; }
  .ourCompany__content__side__contactButton {
    justify-content: center; }
  .side2 .ourCompany__content__side__up__paragraph p {
    text-align: center; }
  .side2 {
    flex-direction: column-reverse; }
  .side2 .ourCompany__content__side__contactButton {
    justify-content: center; }
  .side2 .ourCompany__content__side__up__title, .ourCompany__content__side__up__title {
    text-align: center;
    justify-content: center; }
  .ourCompany__content__side__up__title {
    justify-content: center; }
  .ourCompany__header h3 {
    font-size: 40px;
    line-height: 0px; }
  .ourCompany__content__side__up__title h4 {
    line-height: 30px; }
  .ourCompany__header p {
    margin: 30px 0; }
  .ourCompany__content__side__up {
    width: 100%; }
  .ourCompany__content__side__down {
    display: block; }
  .ourCompany__content__side__down img {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .plan__content {
    flex-direction: column;
    align-items: center; }
  .people__description {
    padding: 0 19px; }
  .people__description p {
    font-size: 14px;
    line-height: 25px; }
  .contacts {
    flex-direction: column-reverse;
    padding: 80px 0; }
  .contacts__contactData {
    width: 100%; }
  .contacts__map {
    width: 100%; }
  .contacts__contactData__title {
    text-align: center;
    padding: 0; }
  .contacts__contactData__title h3 {
    font-size: 31px; }
  .contacts__contactData__content table tr .item {
    font-size: 14px;
    line-height: 14px; }
  .contacts__contactData__content table tr .item-des {
    font-size: 9px;
    line-height: 41px; }
  .contacts__contactData__content table {
    margin: 50px auto 0 auto; }
  .contactForm__content__name-email {
    flex-direction: column;
    align-items: center; }
  .contactForm__content__name-email input {
    margin: 10px auto; }
  .contactForm__content__textarea {
    padding: 0 10px; } }

@media (max-width: 535px) {
  .header__menu__logo {
    font-size: 35px; }
  .ourCompany__header h3 {
    font-size: 29px;
    line-height: 25px; }
  .shops__content__slider__slide {
    max-width: 120px; }
  .shops__content__slider__slide__down p {
    display: none; }
  .shops__header p {
    line-height: 23px;
    font-size: 14px; }
  .shops__header h3 {
    font-size: 33px; }
  .shops__content__slider__slide__down a {
    height: 25px;
    line-height: 25px;
    font-size: 14px; }
  .assortment__content h3 {
    font-size: 12px;
    line-height: 20px; }
  .assortment__content h2 {
    font-size: 12px;
    line-height: 62px; }
  .foods__header h3 {
    font-size: 40px;
    line-height: 35px; }
  .foods__header p {
    font-size: 14px;
    line-height: 18px; }
  .whyWee__header h2 {
    font-size: 14px;
    line-height: 18px; }
  .whyWee__header h3 {
    font-size: 30px;
    line-height: 39px; }
  .whyWee__header p {
    font-size: 16px;
    line-height: 19px; }
  .plan__header h3 {
    font-size: 40px; }
  .people__img {
    width: 30%; }
  .people__img::before, .people__img::after {
    display: none; }
  .galery__header h3 {
    font-size: 38px; }
  .galery__contentSlider .slick-dots li button:before {
    font-size: 12px; }
  .contactForm__content__name-email input {
    width: 288px; }
  .contactForm__header h3 {
    font-size: 46px; }
  .footer__wrapper {
    flex-direction: column;
    align-items: center; }
  .footer__title, .footer__social {
    height: 45px;
    line-height: 45px; } }

.sandwich {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  top: 13px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 100%;
  height: 5px;
  top: 25px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 18px;
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 12px;
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }
