@import "sass/import_sass/header.scss";
@import "sass/import_sass/whywee.scss";
@import "sass/import_sass/ourcompany.scss";
@import "sass/import_sass/shops.scss";
@import "sass/import_sass/assortment.scss";
@import "sass/import_sass/foods.scss";
@import "sass/import_sass/plan.scss";
@import "sass/import_sass/people.scss";
@import "sass/import_sass/galery.scss";
@import "sass/import_sass/contacts.scss";
@import "sass/import_sass/media.scss";
@import "sass/import_sass/burger.scss";
