.assortment {
	width: 100%;
	background-image: url(../img/assortmentBG.jpg);
	&__wrapper {
		padding: 120px 15px;
		max-width: 777px;
		text-align: center;
		margin: 0 auto;
	}
	&__content {
		h2 {
			color: #ca8efe;
			font-family: Ubuntu,  sans-serif;
			font-size: 15px;
			font-weight: normal;
			line-height: 72px;
			margin: 0;
		}
		h3 {
			color: #ffffff;
			font-family: Roboto,  sans-serif;
			font-size: 60px;
			font-weight: normal;
			line-height: 61px;
			margin: 0;
		}
		p {
			color: #ffffff;
			font-family: Ubuntu,  sans-serif;
			font-size: 18px;
			font-weight: normal;
			line-height: 25px;
			margin: 0;
		}
		a {
			display: block;
			margin: 35px auto;
			color: #ffffff;
			font-family: Ubuntu,  sans-serif;
			font-size: 18px;
			font-weight: normal;
			line-height: 52px;
			max-width: 210px;
			height: 52px;
			border: 2px solid #925ebf;
			border-radius: 25px;
			text-decoration: none;	
			background-color: #925ebf;	
		}
	}
}