/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome-all.min.css");*/
.contacts {
	display: flex;
	&__map {
		width: 50%;
		min-height: 450px;
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
	&__contactData {
		padding: 80px 0;
		width: 50%;
		&__title {
			text-align: left;
			padding-left: 10%;
			h3 {
				margin: 0;
				color: #000000;
				font-family: Roboto,  sans-serif;
				font-size: 60px;
				font-weight: normal;
				line-height: 50px;
			}
		}
		&__content {
			padding-left: 10%;
			table {
				margin-top: 50px;
				tr {
					.item {
						color: #000000;
						font-family: Ubuntu,  sans-serif;
						font-size: 18px;
						font-weight: 500;
						line-height: 50px;
					}
					.item-des {
						color: #7b7b7b;
						font-family: Ubuntu,  sans-serif;
						font-size: 18px;
						font-weight: normal;
						line-height: 50px;
					}
					td {
						svg {
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}