.footer {
	padding: 0 10px;
	height: 90px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	&__wrapper {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__title {
		display: block;
		color: #7c7c7c;
		font-family: Ubuntu,  sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 26px;
	}
	&__social {
		max-width: 230px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		color: #7c7c7c;
		font-family: Ubuntu,  sans-serif;
		align-items: center;
		font-size: 16px;
		font-weight: normal;
		line-height: 26px;
		svg {
			color: #925ebf;
		}
	}
}