
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,500');
@font-face {
    font-family: Proxima Nova;
    src: url('../font/Proxima Nova.ttf');
}


.main__wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: center;
	position: relative;
	&__wrapper {
		position: relative;
		min-height: 953px;
		background: url(../img/header-bg.jpg) no-repeat;
		background-size: cover;	
		&--pageDown {
			position: absolute;
			bottom: -33px;
			left: 50%;
			transform: translate(-50%);
			background: url(../img/header-bttom-arrow.png);
			cursor: pointer;
			height: 57px;
			width: 57px;
			border: none;
			outline: none;
			border-radius: 50%;
		}
	}
	&__menu {
		width: 100%;
		max-width: 1200px;
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #ffffff;
		padding: 0 10px;
		height: 72px;
		&__logo {
			cursor: pointer;
			font-size: 21px;
			line-height: 36px;
			font-weight: normal;
			font-family: "Proxima Nova",  sans-serif;
			b {
				color: #bf79fd;
			}
		}
		&__nav{
			ul {
				padding: 0;
				display: flex;
				max-width: 430px;
				justify-content: space-between;
				list-style-type: none;
				font-size: 14px;
				line-height: 14px;
				font-weight: normal;
				font-family: Ubuntu,  sans-serif;
				li a{
					padding: 15px 25px;
					text-decoration: none;
					color: #ffffff;
					white-space: nowrap;
					&:hover {
						background-color: rgba(255, 255, 255, 0.4);
						border-radius: 10px;
					}
				}
			}
		}
		&__phone {
			font-size: 16px;
			font-weight: 500;
			font-family: Ubuntu,  sans-serif;
			line-height: 16px;
			cursor: pointer;
		}
		&__btn {
			position: relative;
			height: 40px;
			width: 40px;
			padding: 0;
			background-color: transparent;
			border: none;
			outline:none;
			display: none;
		}
		}
		&__content {
			position: absolute;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			h1 {
				margin: 0;
				font-size: 15px;
				font-weight: normal;
				font-family: Roboto,  sans-serif;
				line-height: 30px;
				color: #ca8efe;
				text-transform: uppercase;
			}
			h2 {
				margin: 0;
				font-size: 60px;
				font-weight: normal;
				font-family: Roboto,  sans-serif;
				line-height: 61px;
				color: #ffffff;
			}
			p {
				margin: 40px auto;
				width: 775px;
				font-size: 18px;
				font-weight: normal;
				font-family: Roboto,  sans-serif;
				line-height: 30px;
				color: #757983;
			}
			button {
				width: 207px;
				height: 52px;
				background-color: #925ebf;
				border: none;
				border-radius: 50px;
				font-size: 18px;
				font-weight: 500;
				font-family: Ubuntu,  sans-serif;
				line-height: 30px;
				color: #ffffff;
				cursor: pointer;
			}
			h3 {
				margin: 220px 0 0 0;
				font-size: 15px;
				font-weight: normal;
				font-family: Roboto,  sans-serif;
				line-height: 32px;
				color: #7e8188;
			}
		}
	}