.ourCompany {
	background-color: #ffffff;
	&__wrapper {
		padding: 120px 0 110px 0;
		max-width: 1140px;
		margin: 0 auto;
		background-color: #ffffff;
	}
	&__header {
		text-align: center;
		max-width: 776px;
		margin: 0 auto;
		h3 {
			margin: 0;
			color: #26272d;
			font-family: Roboto,  sans-serif;
			font-size: 60px;
			font-weight: 400;
			letter-spacing: -2.4px;
			line-height: 50px;
		}
		p {
			color: #7b7b7b;
			font-family: Ubuntu,  sans-serif;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			margin: 45px 0;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		&__side {
			display: flex;
			align-items: center;
			justify-content: center;
			&__up {
				width: 50%;
				&__title {
					text-align: right;
					display: flex;
					justify-content: flex-end;
					h4 {
						margin: 0;
						color: #000000;
						font-family: Roboto,  sans-serif;
						font-size: 28px;
						font-weight: normal;
						line-height: 38px;
					}
					img {
						margin-left: 22px;
						width: 74px;
    				height: 76px;
					}
				}
				&__paragraph {
					margin: 30px 0;
					p {
						text-align: right;
						margin: 0;
						color: #8c8f94;
						font-family: Ubuntu,  sans-serif;
						font-size: 15px;
						font-weight: normal;
						line-height: 20px;
						//padding-left: 40%;
					}
				}
			}
			&__contactButton {
				display: flex;
    		justify-content: flex-end;
    		a {
    			text-align: center;
    			width: 195px;
    			height: 45px;
    			border: 2px solid #925ebf;
    			border-radius: 25px;
    			color: #000000;
					font-family: Ubuntu,  sans-serif;
					font-size: 16px;
					font-weight: normal;
					line-height: 45px;
					text-decoration: none;
					&:hover {
						background-color: rgba(146, 94, 191, 0.9);
						transition: 0.3s;
						//background-color: #925ebf;
						color: #ffffff;
					}
    		}
			}
			&__down {
				width: 50%;
				display: flex;
				justify-content: center;
				padding: 50px 0;
				img {
					//width: 100%;
				}
			}
		}
	}
}
.side2 .ourCompany__content__side__up__title {
	justify-content: flex-start;
	text-align: left;
}
.side2 .ourCompany__content__side__up__paragraph p {
	text-align: left;
}
.side2 .ourCompany__content__side__contactButton {
	justify-content: flex-start;
}