.plan {
	background-color: #f4f4f5;
	&__wrapper {
		padding: 110px 0 110px 0;
		max-width: 1170px;
		margin: 0 auto;
	}
	&__header {
		text-align: center;
		h3 {
			margin: 0;
			color: #000000;
			font-family: Roboto,  sans-serif;
			font-size: 60px;
			font-weight: 400;
			letter-spacing: -2.4px;
			line-height: 50px;
		}
		p {
			color: #7b7b7b;
			font-family: Ubuntu,  sans-serif;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			margin: 45px 0;
			max-width: 772px;
			margin: 40px auto;
		}
	}
	&__content {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&__item {
			margin: 5px;
			padding: 0 5px;
			//width: 350px;
			min-height: 506px;
			background-color: #ffffff;
			h3 {
				padding-top: 60px;
				margin: 0;
				color: #925ebf;
				font-family: Ubuntu,  sans-serif;
				font-size: 20px;
				font-weight: 500;
				line-height: 30px;
			}
			h4 {
				font-family: Ubuntu,  sans-serif;
				color: #000000;
				font-size: 60px;
				font-weight: bold;
				margin: 0;
				line-height: 34px;
				b {
				    vertical-align: text-top;
					
					font-size: 28px;
					font-weight: bold;
					line-height: 49px;
				}
			}
			h5 {
				font-family: Ubuntu,  sans-serif;
				color: #999999;
				font-size: 16px;
				font-weight: 500;
				line-height: 62px;
				margin: 0;
			}
			p {
				font-family: Ubuntu,  sans-serif;
				color: #000000;
				font-size: 16px;
				font-weight: normal;
				line-height: 32px;
				margin: 0;
			}
			a {
				font-family: Ubuntu,  sans-serif;
				display: block;
				width: 233px;
				height: 50px;
				background-color: #925ebf;
				color: #ffffff;
				border-radius: 25px;
				margin: 0 auto;
				text-decoration: none;
				line-height: 47px;
				font-size: 18px;
				font-weight: 500;
				margin-top: 37px;
				&:hover {
					background-color:rgba(146,94,191,.8);
				}
			}
		}
	}
}