.sandwich {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  top: 13px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 100%;
  height: 5px;
  top: 25px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 18px;
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 12px;
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
