.contactForm {
  background-color: #f4f4f5;
  padding: 110px 0; }
  .contactForm__wrapper {
    text-align: center;
    max-width: 777px;
    margin: 0 auto; }
  .contactForm__header h3 {
    color: #26272d;
    font-family: Roboto,  sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
    margin: 0; }
  .contactForm__header p {
    color: #7b7b7b;
    font-family: Ubuntu,  sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    margin: 0; }
  .contactForm__content__form {
    max-width: 708px;
    margin: 0 auto; }
  .contactForm__content__name-email {
    width: 100%;
    max-width: 708px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .contactForm__content__name-email input {
      width: 327px;
      height: 50px;
      border: 1px solid #dedede;
      padding-left: 18px;
      outline: none; }
      .contactForm__content__name-email input::-webkit-input-placeholder {
        padding-top: 36px;
        color: #999999;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 49px; }
      .contactForm__content__name-email input:-moz-placeholder {
        padding-top: 36px;
        color: #999999;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 49px; }
      .contactForm__content__name-email input::-moz-placeholder {
        padding-top: 36px;
        color: #999999;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 49px; }
      .contactForm__content__name-email input:-ms-input-placeholder {
        padding-top: 36px;
        color: #999999;
        font-family: Ubuntu,  sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 49px; }
  .contactForm__content__textarea textarea {
    margin-top: 20px;
    padding: 18px 0 0 18px;
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    outline: none;
    min-height: 140px;
    border: 1px solid #dedede; }
    .contactForm__content__textarea textarea::-webkit-input-placeholder {
      color: #999999;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
    .contactForm__content__textarea textarea:-moz-placeholder {
      color: #999999;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
    .contactForm__content__textarea textarea::-moz-placeholder {
      color: #999999;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
    .contactForm__content__textarea textarea:-ms-input-placeholder {
      color: #999999;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px; }
  .contactForm__content__bt {
    margin-top: 20px; }
    .contactForm__content__bt input {
      cursor: pointer;
      width: 225px;
      height: 50px;
      background-color: #925EBF;
      border: 1px solid #dedede;
      border-radius: 25px;
      color: #ffffff;
      font-family: Ubuntu,  sans-serif;
      font-size: 18px;
      font-weight: 500; }
    .contactForm__content__bt p {
      color: #7c7c7c;
      font-family: Ubuntu,  sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px; }
