/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome-all.min.css");*/
.contacts {
  display: flex; }
  .contacts__map {
    width: 50%;
    min-height: 450px; }
    .contacts__map iframe {
      width: 100%;
      height: 100%;
      border: 0; }
  .contacts__contactData {
    padding: 80px 0;
    width: 50%; }
    .contacts__contactData__title {
      text-align: left;
      padding-left: 10%; }
      .contacts__contactData__title h3 {
        margin: 0;
        color: #000000;
        font-family: Roboto,  sans-serif;
        font-size: 60px;
        font-weight: normal;
        line-height: 50px; }
    .contacts__contactData__content {
      padding-left: 10%; }
      .contacts__contactData__content table {
        margin-top: 50px; }
        .contacts__contactData__content table tr .item {
          color: #000000;
          font-family: Ubuntu,  sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 50px; }
        .contacts__contactData__content table tr .item-des {
          color: #7b7b7b;
          font-family: Ubuntu,  sans-serif;
          font-size: 18px;
          font-weight: normal;
          line-height: 50px; }
        .contacts__contactData__content table tr td svg {
          margin-right: 10px; }
