.content {
  width: 100%;
  padding-top: 50px;
  background-color: #f6f6f6; }
  .content__title {
    margin: 0 auto;
    max-width: 776px;
    width: 100%; }
    .content__title h2 {
      text-align: center;
      font-weight: 400;
      color: #26272d;
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 50px; }
    .content__title p {
      text-align: center;
      color: #7b7b7b;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      line-height: 30px; }
  .content__wrapper {
    display: -webkit-box;
    display: flex;
    width: 100%; }
    .content__wrapper__left {
      width: 50%; }
      .content__wrapper__left__title {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        align-items: flex-end;
        height: 290px; }
        .content__wrapper__left__title__line1 {
          margin-top: 10px;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center; }
          .content__wrapper__left__title__line1 h3 {
            margin: 0;
            color: #000000;
            font-family: 'Roboto', sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            max-width: 257px;
            text-align: right; }
          .content__wrapper__left__title__line1 img {
            width: 74px;
            height: 74px;
            margin-left: 10px; }
        .content__wrapper__left__title__line2 {
          max-width: 503px;
          color: #8c8f94;
          font-family: 'Ubuntu', sans-serif;
          font-size: 15px;
          font-weight: 400; }
          .content__wrapper__left__title__line2 p {
            text-align: right;
            line-height: 23px; }
        .content__wrapper__left__title__line3 button {
          width: 198px;
          height: 48px;
          border-radius: 24px;
          border: 2px solid #925ebf;
          background-color: rgba(146, 94, 191, 0);
          color: #000000;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
          font-weight: 400;
          margin-right: 20px; }
      .content__wrapper__left__img {
        margin-top: 119px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center; }
        .content__wrapper__left__img img {
          width: 450px;
          height: 321px; }
    .content__wrapper__right {
      width: 50%; }
      .content__wrapper__right__img {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center; }
        .content__wrapper__right__img img {
          width: 357px;
          height: 353px; }
      .content__wrapper__right__title__line1 {
        display: -webkit-box;
        display: flex; }
        .content__wrapper__right__title__line1 img {
          margin-right: 10px; }
        .content__wrapper__right__title__line1 h3 {
          margin: 0;
          color: #000000;
          font-family: 'Roboto', sans-serif;
          font-size: 28px;
          font-weight: 400;
          line-height: 38px;
          max-width: 257px;
          text-align: left; }
      .content__wrapper__right__title__line2 {
        max-width: 503px;
        color: #8c8f94;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: 400; }
        .content__wrapper__right__title__line2 p {
          text-align: left;
          line-height: 23px; }
      .content__wrapper__right__title__line3 button {
        width: 198px;
        height: 48px;
        border-radius: 24px;
        border: 2px solid #925ebf;
        background-color: rgba(146, 94, 191, 0);
        color: #000000;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px; }
