@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu");
@font-face {
  font-family: Proxima Nova;
  src: url("../font/Proxima Nova.ttf"); }

.main__wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: 100% 100vh; }
  .header__menu {
    padding-top: 25px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
    .header__menu__logo a {
      text-decoration: none;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 21px;
      font-weight: 700;
      line-height: 36px;
      color: #ffffff; }
      .header__menu__logo a b {
        color: #bf79fd; }
    .header__menu__nav ul {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      width: 428px;
      list-style: none; }
      .header__menu__nav ul li a {
        color: #ffffff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase; }
    .header__menu__phone span {
      color: #ffffff;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .header__content {
    position: relative;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    max-width: 778px;
    width: 100%;
    height: 380px; }
    .header__content h3 {
      text-align: center;
      font-weight: 400;
      color: #ca8efe;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase; }
    .header__content h1 {
      text-align: center;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 61px; }
    .header__content p {
      text-align: center;
      color: #d4c5e1;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      line-height: 30px; }
    .header__content button {
      cursor: pointer;
      position: relative;
      left: 50%;
      margin-left: -105px;
      width: 210px;
      height: 52px;
      border-radius: 26px;
      background-color: #925ebf;
      border: none;
      color: #ffffff;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px; }
  .header__bottom {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute;
    bottom: 0;
    width: 242px;
    height: 100px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center; }
    .header__bottom h4 {
      text-align: center;
      opacity: 0.4;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px; }
    .header__bottom__button {
      cursor: pointer; }

@media (max-width: 700px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 200px; }
  .header__menu__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 319px; }
  .header__menu__nav ul li {
    padding: 10px; }
  .header__menu__nav ul li a {
    width: 100px;
    padding: 5px 10px; }
  .header__content {
    top: 5%;
    -webkit-transform: translate(-50%, -5%);
    transform: translate(-50%, -5%); }
    .header__content h1 {
      text-align: center;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 31px; } }
