@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,500");
@font-face {
  font-family: Proxima Nova;
  src: url("../font/Proxima Nova.ttf"); }

.main__wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative; }
  .header__wrapper {
    position: relative;
    min-height: 953px;
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover; }
    .header__wrapper--pageDown {
      position: absolute;
      bottom: -33px;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      background: url(../img/header-bttom-arrow.png);
      cursor: pointer;
      height: 57px;
      width: 57px;
      border: none;
      outline: none;
      border-radius: 50%; }
  .header__menu {
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    padding: 0 10px;
    height: 72px; }
    .header__menu__logo {
      cursor: pointer;
      font-size: 21px;
      line-height: 36px;
      font-weight: normal;
      font-family: "Proxima Nova",  sans-serif; }
      .header__menu__logo b {
        color: #bf79fd; }
    .header__menu__nav ul {
      padding: 0;
      display: -webkit-box;
      display: flex;
      max-width: 430px;
      -webkit-box-pack: justify;
      justify-content: space-between;
      list-style-type: none;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      font-family: Ubuntu,  sans-serif; }
      .header__menu__nav ul li a {
        padding: 15px 25px;
        text-decoration: none;
        color: #ffffff;
        white-space: nowrap; }
        .header__menu__nav ul li a:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 10px; }
    .header__menu__phone {
      font-size: 16px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 16px;
      cursor: pointer; }
    .header__menu__btn {
      position: relative;
      height: 40px;
      width: 40px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      display: none; }
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header__content h1 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #ca8efe;
      text-transform: uppercase; }
    .header__content h2 {
      margin: 0;
      font-size: 60px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 61px;
      color: #ffffff; }
    .header__content p {
      margin: 40px auto;
      width: 775px;
      font-size: 18px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 30px;
      color: #757983; }
    .header__content button {
      width: 207px;
      height: 52px;
      background-color: #925ebf;
      border: none;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 500;
      font-family: Ubuntu,  sans-serif;
      line-height: 30px;
      color: #ffffff;
      cursor: pointer; }
    .header__content h3 {
      margin: 220px 0 0 0;
      font-size: 15px;
      font-weight: normal;
      font-family: Roboto,  sans-serif;
      line-height: 32px;
      color: #7e8188; }
