@media (max-width: 1120px) {
  .foods__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: auto;
    -webkit-box-align: center;
    align-items: center; }
  .foods__menu ul li {
    width: 90%;
    margin: 5px 0; }
  .foods__menu ul li:hover::after {
    border-top: none; }
  .foods__items {
    -webkit-box-pack: center;
    justify-content: center; } }

@media (max-width: 970px) {
  /*header menu*/
  .header__wrapper {
    min-height: 600px; }
  .header__menu__logo {
    font-size: 40px; }
  .header__menu__phone {
    display: none; }
  .header__menu__btn {
    display: block;
    cursor: pointer; }
  .header__menu__nav ul {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 50%;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-transform: translate(-50%);
    transform: translate(-50%); }
  .header__menu__nav ul li {
    width: 100%;
    background-color: #0D1021;
    border-top: 1px solid #925EBF; }
    .header__menu__nav ul li:last-child {
      border-bottom: 1px solid #925EBF; }
  .header__menu__nav ul li a {
    display: block;
    padding: 30px 25px; }
  .header__menu__nav ul li a:hover {
    border-radius: 0;
    background-color: rgba(146, 94, 191, 0.2);
    transition: 0.3s; }
  /*header content*/
  .header__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .header__content h2 {
    font-size: 20px;
    line-height: 30px; }
  .header__content p {
    width: 100%;
    font-size: 15px;
    margin: 14px auto; }
  .header__content h3 {
    margin: 50px 0 0 0; }
  /*Why we*/
  .whyWee__header h2 {
    font-size: 35px;
    line-height: 36px; }
  .whyWee__content__allBlocks {
    -webkit-box-pack: center;
    justify-content: center; }
  .whyWee__content__allBlocks__block {
    margin: 5px; }
  /*ourCompany*/
  .ourCompany__content__side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .ourCompany__content__side__up__paragraph p {
    text-align: center; }
  .ourCompany__content__side__contactButton {
    -webkit-box-pack: center;
    justify-content: center; }
  .side2 .ourCompany__content__side__up__paragraph p {
    text-align: center; }
  .side2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .side2 .ourCompany__content__side__contactButton {
    -webkit-box-pack: center;
    justify-content: center; }
  .side2 .ourCompany__content__side__up__title, .ourCompany__content__side__up__title {
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center; }
  .ourCompany__content__side__up__title {
    -webkit-box-pack: center;
    justify-content: center; }
  .ourCompany__header h3 {
    font-size: 40px;
    line-height: 0px; }
  .ourCompany__content__side__up__title h4 {
    line-height: 30px; }
  .ourCompany__header p {
    margin: 30px 0; }
  .ourCompany__content__side__up {
    width: 100%; }
  .ourCompany__content__side__down {
    display: block; }
  .ourCompany__content__side__down img {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .plan__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .people__description {
    padding: 0 19px; }
  .people__description p {
    font-size: 14px;
    line-height: 25px; }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    padding: 80px 0; }
  .contacts__contactData {
    width: 100%; }
  .contacts__map {
    width: 100%; }
  .contacts__contactData__title {
    text-align: center;
    padding: 0; }
  .contacts__contactData__title h3 {
    font-size: 31px; }
  .contacts__contactData__content table tr .item {
    font-size: 14px;
    line-height: 14px; }
  .contacts__contactData__content table tr .item-des {
    font-size: 9px;
    line-height: 41px; }
  .contacts__contactData__content table {
    margin: 50px auto 0 auto; }
  .contactForm__content__name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .contactForm__content__name-email input {
    margin: 10px auto; }
  .contactForm__content__textarea {
    padding: 0 10px; } }

@media (max-width: 535px) {
  .header__menu__logo {
    font-size: 35px; }
  .ourCompany__header h3 {
    font-size: 29px;
    line-height: 25px; }
  .shops__content__slider__slide {
    max-width: 120px; }
  .shops__content__slider__slide__down p {
    display: none; }
  .shops__header p {
    line-height: 23px;
    font-size: 14px; }
  .shops__header h3 {
    font-size: 33px; }
  .shops__content__slider__slide__down a {
    height: 25px;
    line-height: 25px;
    font-size: 14px; }
  .assortment__content h3 {
    font-size: 12px;
    line-height: 20px; }
  .assortment__content h2 {
    font-size: 12px;
    line-height: 62px; }
  .foods__header h3 {
    font-size: 40px;
    line-height: 35px; }
  .foods__header p {
    font-size: 14px;
    line-height: 18px; }
  .whyWee__header h2 {
    font-size: 14px;
    line-height: 18px; }
  .whyWee__header h3 {
    font-size: 30px;
    line-height: 39px; }
  .whyWee__header p {
    font-size: 16px;
    line-height: 19px; }
  .plan__header h3 {
    font-size: 40px; }
  .people__img {
    width: 30%; }
  .people__img::before, .people__img::after {
    display: none; }
  .galery__header h3 {
    font-size: 38px; }
  .galery__contentSlider .slick-dots li button:before {
    font-size: 12px; }
  .contactForm__content__name-email input {
    width: 288px; }
  .contactForm__header h3 {
    font-size: 46px; }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .footer__title, .footer__social {
    height: 45px;
    line-height: 45px; } }
